{% liquid
  graphql items = 'item/search'
%}

<h1 class="text-5xl">This is my to do list</h1>

<!-- list of items -->
<ul class="bg-blue-300  p-2 m-2 ">
  {% for item in items.records.results %}
    <li class="card w-300px m-2 p-2 flex content-center justify-between gap-5 bg-white shadow-md rounded-lg overflow-hidden group hover:scale-105">
      <form
        action="/item/update/{{ item.id }}"
        method="POST"
        class="text-center">
        
    
        <input type="hidden" name="completed" value="0">
        <input
              type="checkbox"
              name="completed"
              value="1"
              onchange="this.form.submit()"
              class="w-8 h-8"
              {% if item.update == true %}checked{% endif %}
            />
        <input type="hidden" name="list_id" value="{{ list.id }}">
      </form>


      <div class="font-semibold text-l">Task tilte: </br> {{ item.title }}</div>
      <div class="">Task description: </br> {{ item.content }}</div>
      <div
        class="
        {% case item.priority %}
          {% when "1" %} text-green-500 font-bold
          {% when "2" %} text-yellow-500 font-bold
        {% else %}
          text-red-500 font-bold
        {% endcase %}">
        {% case item.priority %}
          {% when '1' %} Low
          {% when '2' %} Medium
        {% else %}
          High
        {% endcase %}
      </div>

      <form action="/item/delete" method="post">
        <input
          type="hidden"
          name="id"
          value="{{ item.id }}">
        <button class="cursor-pointer bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Delete task</button>
      </form>
    </li>
  {% endfor %}
</ul>


<!-- information shown when the list is empty -->
{% if items.records.total_entries == 0 %}
  <div>There are no items in the list.</div>
{% endif %}

<!-- form for adding new item -->

<form action="/item/create" method="post">
  <!-- Add a text input field for the 'title' -->
  <label for="title">Title:</label>
  <input
  class="border border-black rounded-lg p-2"
    type="text"
    id="title"
    name="title"
    placeholder="Enter task title"
    required>

  <!-- Add a text input field for 'content' -->
  <label for="content">Content:</label>
  <input
  class="border border-black rounded-lg p-2"
    type="text"
    id="content"
    name="content"
    placeholder="Enter task description"
    required>

  <!-- Add a select input for 'priority' -->
  <label for="priority">Priority:</label>
  <select
    id="priority"
    name="priority"
    required>
    <option class="bg-green-500" value="1">Low</option>
    <option class="bg-yellow-500" value="2">Medium</option>
    <option class="bg-red-600" value="3">High</option>
  </select>

  <!-- Add a recipient email field if needed -->
  <input
    type="hidden"
    name="recipient"
    value="recipient-email-address@example.com">

  <button class="cursor-pointer bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Add task</button>
</form>

<!-- link to the About Me page -->
<a class="text-blue-900 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 hover:text-blue-400 " href="/about">About Me</a>
